<div class="wrap">
  <h1 class="med-header"><%= @question.question %></h1>
  
  <%= form_with model: @answer, url: study_question_answers_path(@study, @question), local: true do |form| %>
    <%= form.hidden_field :participant_id %>
   
    <% if @question.answers.errors.any? %>
     
      
    <% end %>

    <%= form.text_area :text %><br>
    <%= form.submit %>
  <% end %>
</div>