<%= form_with model: @study, local: true do |form| %>

  <% if @study.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@study.errors.count, "error") %> prohibited
        this study from being saved:
      </h2>
      <ul>
        <% @study.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :study_name, class: 'textfield' %>
  <div class="submit-btn"><%= form.submit%></div>

<% end %>