<div class="wrap">
  <h1 class="big-header">All Studies</h1>
  <h2>Create a new study, then add some questions! </h2>
  <h2></h2>
  <div class="btn"><%= link_to 'Make a new study', new_study_path %></div>
  <table class="studies">
    <tr>
      <th colspan="2"></th>
    </tr>

    <% @studies.each do |study| %>
      <tr>
        <td class="table-study"><%= study.study_name %></td>
        <td class="table-btn"><%= link_to 'Show', study_path(study) %></td>
        <td class="table-btn"><%= link_to 'Edit', edit_study_path(study) %></td>
        <td class="table-btn"><%= link_to 'Destroy', study_path(study),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <%= react_component 'Main' %>
</div>