<div class="wrap">
  <p class="link"><%= link_to 'Click to Edit Study Name', edit_study_path(@study) %></p>
  <p class="link"><%= link_to 'Back to Studies', studies_path %></p>

  <h1 class="med-header"><%= @study.study_name %></h1>
  <strong><p>Add some questions to your study</p></strong>

  <% @study.questions.each do |question| %>
    <p><%= question.question %></p>
  <% end %>

  <%= form_with(model: [ @study, @study.questions.build ], local: true) do |form| %>
    <p>
      <%= form.text_field :question %>
    </p>
      <%= form.submit %>
  <% end %>
  <p class="link"><%= link_to 'Get responses', new_study_question_answer_path(study_id:  @study.id, question_id: @study.questions.first.id) %></p>

</div>